[submodule "threadpool"]
	path = threadpool
	url = https://github.com/log4cplus/ThreadPool.git
[submodule "catch"]
	path = catch
	url = https://github.com/log4cplus/Catch.git
[submodule "signals-lib"]
	path = signals-lib
	url = https://github.com/wilx/signals-lib.git
